.btn-login{
    border: 1px solid #219ebc;
    background-color: #fff;
    color: #219ebc;
    padding: 10px 65px;
}

.btn-login:hover{
    background-color: #219ebc;
    color: #fff;
    transition: 0.4s;
}

textarea{
    height: 80px !important;
}