<div class="container-fluid bg-light">
    <div class="col-4 mx-auto py-5">
        <h2  class="mb-4">
            Adicionar novo produto
        </h2>

        <div class="d-flex mb-5">
            <div class="form-floating mb-3"> 
                <input type="file" class="bg-white form-control px-5 py-5" id="imagem">
            </div> 
    
            <div>
                <p>
                    Ou
                </p>
            </div>

            <div class="ms-auto">
                <button class="btn-login" routerLink="login">
                    Procure no seu computador
                </button>
            </div>
        </div>

        <div class="form-floating mb-3 text-secondary"> 
            <input type="text" class="form-control rounded-0 border-0 border-bottom" id="name" placeholder="Nome do produto">
    
            <label for="name">
                Nome do produto
            </label>
        </div>
    
        <div class="form-floating mb-3 text-secondary"> 
            <input type="number" class="form-control rounded-0 border-0 border-bottom" id="preco" placeholder="Preço do produto">
    
            <label for="preco">
                Preço do produto
            </label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Descrição do produto" id="descricao">
            </textarea>

            <label for="descricao">
                Descrição do produto
            </label>
        </div>
    
        <button class="btn btn-primary w-100 py-3 rounded-0">
            Adicionar produto
        </button>
    </div>
</div>
