<div class="container my-5">
    <div class="d-flex">
        <div>
            <div class="d-flex justify-content-between">
                <img src="/src/assets/s-l400.jpg" alt="">
            </div>
        </div>

        <div>
            <h1>
                Produto XYZ
            </h1>

            <p>
                R$60,00
            </p>

            <p>
                Voluptas voluptatum quibusdam similique, class debitis alias maecenas
                eveniet ridiculus, facilis fusce! Ullam conubia? Sociis, minima malesuada
                habitasse distinctio sequi aliqua melesuada. Quisque deleniti proin
                expedita, aliquid litora. Iste recusandae? Commodo, quia ridiculus doloribus
                vero dictum? Penatibus donec placeat faucibus, dolorum do. Animi porta
                anim magnam
            </p>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between">
        <h4>
            Produtos similares
        </h4>
    </div>

    <div class="d-flex justify-content-between">
        <div *ngFor="let produto of produtos">
            <app-caixinha nomeProduto="{{ produto }}"></app-caixinha>
        </div>
    </div>
</div>